body {
    font-family: League Spartan;
    background-color: #f0f0f0;
}

.main-container {
    max-width: 1500px;
    width: 90%;
    height: auto;
    margin: 50px auto;
    border-radius: 10px;
    background-color: #FAF9F6;
    box-shadow: 0 4px 8px 0 hsl(149, 46%, 61%), 0 6px 20px 0 hsl(135, 23%, 71%);
}

.bzbz {
    background-image: url("images/bg-pattern-top-desktop.svg");
    background-repeat: no-repeat;
    background-position: top left 10%;
}

.container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(6, 2fr);
    max-width: 1300px;
    width: 80%;
    height: auto;
    padding: 90px 110px 50px 110px;
}

.unif:nth-child() {
    background: red !important;
}

.first-element,
.second-element {
    grid-column: span 3;
}

h1 {
    font-weight: 700;
    font-size: 45px;
    color: hsl(300, 43%, 22%);
}

.first-element {
    max-width: 350px;
}

.fdesc {
    color: hsl(303, 10%, 53%);
    line-height: 1.5em;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5em;
}


}
.second-element {
    font-weight: 500;
    color: hsl(300, 43%, 22%);
}
.p1,
.p2,
.p3 {
    background-color: hsl(300, 24%, 96%);
    padding: 10px;
    border-radius: 10px;
    max-width: 500px;
}
.p2 {
    margin-left: 42px;
}
.p3 {
    margin-left: 84px;
}
.a1,
.a2,
.a3 {
    background-color: hsl(300, 43%, 22%);
    padding: 0;
    margin: 10px;
    width: 100%;
    border-radius: 8px;
}
.a1 {
    grid-column: span 2;
}
.a2 {
    grid-column: span 2;
}
.a3 {
    grid-column: span 2;
}
.name {
    color: white;
    opacity: 0.5;
}
.post {
    color: hsl(333, 80%, 67%);
    opacity: 0.5;
}
.profile {
    display: flex;
    flex-direction: row;
    margin: 30px 25px 0 25px;
}
.name-post {
    line-height: 0.4em;
}
.avatar {
    width: 30px;
    height: auto;
    margin: 10px;
}
.desc {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5em;
    color: hsl(300, 24%, 96%);
    margin: 0 30px 30px 30px;
}
img {
    aspect-ratio: 1;
    border-radius: 50%;
}
.main-container {
    background-image: url("images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
}